## Run LOMs form ANL and LANL
Jenna Ruzekowicz (jenna.ruzekowicz@nrel.gov), Caleb Phillips (caleb.phillips@nrel.gov), and Dmitry Duplyakin (dmitry.duplyakin@nrel.gov)

The purpose of this notebook is to read in inflow data and run the LOMs.

Step 2 will read the data from step 1, run the models and produce corresponding files as output, e.g.:

 > anl_[bergey|oneenergy]_site_{x}_[h]m.csv
  
 > datetime_yyyymmddhhmmss,windspeed_mps,winddir_deg

In [6]:
import numpy as np
import pandas as pd
import geopandas as gpd
from tqdm import tqdm
import matplotlib.pyplot as plt
from dw_tap.lom import run_lom

In [7]:
index = pd.read_csv("01 Bergey Turbine Data/bergey_sites.csv")
index.head()

,APRS ID,Public Site Name,Internal Site Name,State,Latitude,Longitude,Hub Height (m),Turbine,Periods with Consistent Generation Data,Met Tower,Met Tower Latitude,Met Tower Longitude,Measurement Height (m)
0,t007,Fremont,Fremont,MN,43.918622,-91.899498,41,Bergey Excel 10,2012/01 - 2013/12 (outage starting mid-2013/11...,NaN,NaN,NaN,NaN
1,t024,Washoe,Thomas Danzinger,NV,39.331088,-119.820234,30,Bergey Excel 10,2011/01 - 2022/12,NaN,NaN,NaN,NaN
2,t028,Towamensing,Derr,PA,40.851353,-75.598395,30,Bergey Excel 10,2011/01 - 2022/12,NaN,NaN,NaN,NaN
3,t034,Lycoming,Dan Poor,NY,43.524158,-76.372290,31,Bergey Excel 10,"2013/01 - 2017/12, 2019/01 - 2021/12",Oswego,43.464,-76.511,15.0
4,t041,Rockford,Fossil Park,IA,43.047418,-92.981674,37,Bergey Excel 10,"2013/01 - 2013/12, 2015/01 - 2022/12",NaN,NaN,NaN,NaN

In [19]:
for i in tqdm(index["APRS ID"]):
    obstacle_data_dir = "02 Input For Models/Bergey/02BuildingInputs"
    obstacle_df = gpd.read_file("%s/%s.geojson" % (obstacle_data_dir, i))
    display(obstacle_df)
    break

  0%|                                                                              | 0/19 [00:00<?, ?it/s]

   height   height                                           geometry
0      5.0     NaN  POLYGON ((-91.89904 43.91833, -91.89903 43.918...
1      NaN     5.0  POLYGON ((-91.89884 43.91965, -91.89883 43.919...

  0%|                                                                              | 0/19 [00:00<?, ?it/s]