## Notebook for quantifying the effect of air density calculation and its usage in energy production estimation

In [2]:
# adjusted wind speed = original wind speed * (density/1.225)^1/3
# Air density = Pressure [in hectopascals]/(287.05 * Temperature [in Kelvin])

In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
from tqdm import tqdm
import matplotlib.pyplot as plt
from dw_tap.lom import run_lom
import os
import seaborn as sns
import glob

%matplotlib inline
%config InlineBackend.figure_format='retina'

/Users/dduplyak/anaconda3/envs/dw-tap/lib/python3.8/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [3]:
wtk_df = pd.read_csv("01 Bergey Turbine Data/wtk.csv.bz2")

In [4]:
wtk_df

,datetime,ws,wd,inversemoninobukhovlength_2m,tid,packet_date
0,2007-01-01 00:00:00,8.140454,317.158310,-0.001159,t007,2007-01-01 00:00:00+00:00
1,2007-01-01 01:00:00,8.985741,319.570287,-0.001553,t007,2007-01-01 01:00:00+00:00
2,2007-01-01 02:00:00,10.039049,319.680120,-0.001052,t007,2007-01-01 02:00:00+00:00
3,2007-01-01 03:00:00,10.384051,317.920026,-0.000963,t007,2007-01-01 03:00:00+00:00
4,2007-01-01 04:00:00,9.927510,318.450687,-0.000963,t007,2007-01-01 04:00:00+00:00
...,...,...,...,...,...,...
1165987,2013-12-31 19:00:00,1.953942,34.086750,-0.120668,t221,2013-12-31 19:00:00+00:00
1165988,2013-12-31 20:00:00,2.318396,47.535268,-0.062508,t221,2013-12-31 20:00:00+00:00
1165989,2013-12-31 21:00:00,2.564894,52.266751,-0.031844,t221,2013-12-31 21:00:00+00:00
1165990,2013-12-31 22:00:00,3.093438,55.602354,-0.006792,t221,2013-12-31 22:00:00+00:00
1165991,2013-12-31 23:00:00,3.167119,47.725977,-0.005000,t221,2013-12-31 23:00:00+00:00